<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <property name="pattern">[%d{HH:mm:ss}] %-5p (%F:%L) - %m%n</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <File name="File" fileName="logs/last_build.log" immediateFlush="false" append="false">
            <PatternLayout pattern="${pattern}"/>
        </File>
        <RollingFile name="Roll-By-Date"
                     fileName="logs/app.log"
                     filePattern="logs/app.%d{yyyy-MM-dd}.log"
                     ignoreExceptions="false">
                <PatternLayout pattern="${pattern}"/>
                <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="Roll-By-Date"/>
        </Root>
    </Loggers>
</Configuration>